wp-admin
wp-includes
wp-content/uploads
wp-content/plugins
wp-content/upgrade
wp-content/cache
wp-content/mu-plugins
wp-content/blogs.dir
wp-content/*.php
wp-content/*.sql
/*.php
/*.png
/.htaccess
/*.ico
/*.html
/*.txt
_wpeprivate
.sass-cache
